<!--
  Generated template for the PromotionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    </ion-header>
    
    <ion-content padding class="course3-bg">
    <br>
      <img src="../../assets/imgs/frame/3_head.png" />
        <div *ngFor="let course3 of course3s; last as isLast">
          <h1 style="text-align: center;">
            <img width="15" height="15" src="../../assets/imgs/leaf.png" *ngIf="course3.vet == 1"/>
            <img width="15" height="15" src="../../assets/imgs/gluten.png" *ngIf="course3.glutin == 1"/>
            <img width="15" height="15" src="../../assets/imgs/peanut.png" *ngIf="course3.nut == 1"/>
            {{course3.$key}}
          </h1>
          <p style=" text-align: center;"><i >{{course3.desc}}</i></p>
          <p style=" text-align: center; font-family: 'agency';">{{course3.wine}}</p>
          <img width="300px" height="50px" style="margin-left: 190px; margin-bottom: 20px;" 
            src="../../assets/imgs/line.png" *ngIf="!isLast"/>
        </div>
          <h1 style="text-align: center;">OR</h1>
          <br>
        <div *ngFor="let course3_or of course3_ors; last as isLast">
            <h1 style="text-align: center;">
                <img width="15" height="15" src="../../assets/imgs/leaf.png" *ngIf="course3_or.vet == 1"/>
                <img width="15" height="15" src="../../assets/imgs/gluten.png" *ngIf="course3_or.glutin == 1"/>
                <img width="15" height="15" src="../../assets/imgs/peanut.png" *ngIf="course3_or.nut == 1"/>
                {{course3_or.$key}}
            </h1>
            <p style=" text-align: center;"><i >{{course3_or.desc}}</i></p>
            <p style=" text-align: center; font-family: 'agency';">{{course3_or.wine}}</p>
            <img width="300px" height="50px" style="margin-left: 190px; margin-bottom: 20px;" 
              src="../../assets/imgs/line.png" *ngIf="!isLast"/>
            <br>
          </div>
          <h1 style="text-align: center;">3-course set</h1>
          <h1 style="text-align: center;">3,900 or 5,250 with wines</h1>
          <img style="max-width: 70%; border: 0;margin-left: 15%;" src="../../assets/imgs/frame/bottom.png" />
          
    </ion-content>
    
    